.about {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;

    @include mq (desktop){
        padding-top: 94px;
        padding-bottom: 94px;
        margin-bottom: 0px;
        display: block;
        justify-content: start;
    }

    &-list {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
        margin-left: auto;
        margin-right: auto;

        @include mq(tablet){
            flex-direction: row;
            flex-wrap: wrap;
        }

        @include mq(desktop){
            width: auto;
            flex-direction: row;
            margin-left: 0;
            margin-right: 0;
        }
    }
    
    &-list__item{
        width: auto;

        @include mq(mobile){
        width: 450px;
        height: 226px;
        }

        @include mq(tablet){
            width: 354px;
            height: 251px;
        }

        @include mq(desktop){
            margin: 0;
            width: 270px;
            height: 251px;
        }
    }

    &-list__item:nth-child(2n+1){

        @include mq(tablet-only){
        margin-right: 30px;
        }
    }

    &-list__item:nth-child(-n+2){
        
        @include mq(tablet-only){
        margin-bottom: 30px;
        }
    }

    &-list__item:not(:last-child){

        @include mq(pre-mobile){
            margin-bottom: 30px;
        }

        @include mq(mobile-only){
            margin-bottom: 30px;
        }

        @include mq(desktop){
            margin-right: 30px;
        }
    }

    &-list__icon_box {
        height: 120px;
        @extend %AllCenter;
        margin-bottom: 30px;
        background-color: #F5F4FA;
        border-radius: 4px;
    }

    &-list__label {
        font-weight: 700;
        font-size: 14px;
        line-height: 0.8;
        letter-spacing: 0.03em;
        text-align: center;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 10px;

        @include mq (tablet){
            text-align: left;
        }

    }

    &-list__description {
        color: $SubtextualColor;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
    }
}