
.container {
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;

    @include mq(mobile) {
        width: 480px;

    }

    @include mq(tablet) {
        width: 720px;
        margin-left: 0;
        margin-right: 0;
    }


    @include mq(desktop) {
        width: 1200px;
    }
}

* {

    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
button{
    margin: 0;
}