.header{
    background-color: $BackColor;
    border-bottom: solid #ECECEC 1px;
    display: flex;
    justify-content: center;

    // @include mq(tablet){
    //     justify-content: center;
    // }

    &-container {
            @extend %FlexCenter;

            @include mq(mobile-only) {
                justify-content: space-between;
                width: 480px;
                margin-left: auto;
                margin-right: auto;
            
            }

            @include mq(mobile) {
                justify-content: space-between;
                width: 480px;
                margin-left: auto;
                margin-right: auto;
        
            }
        
            @include mq(tablet) {
                width: 768px;
                margin-left: 0;
                margin-right: 0;
            }
        
            @include mq(desktop) {
                width: 1200px;
                margin-left: auto;
                margin-right: auto;
            }     
    }

    &-menu_icon{
        display: none;

        @include mq(mobile-only) {
            width: 40px;
            height: 40px;
            display: block;
            color: inherit;
            fill: currentColor;
        }

    }

    &-menu_btn{
        width: 40px;
        height: 40px;
        color: $MainColor;
        background-color: #fff;
        border: 0px;
        padding: 0;
        transition: color $MainTransition;
    }

    &-menu_btn:hover,
    &-menu_btn:focus{
        color: $ActionColor;
    }
}

.navigation{
    padding: 0;
    margin-right: auto;

        @include mq(mobile-only) {
            display: none;
        }

}


.navigation-links{
    display: flex;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    @include mq(tablet){
    margin-right: 84px;
    }
    @include mq(desktop){
        margin-right: 0;
    }

    &__link {
        @extend %FlexCenter;
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 0.8;
        letter-spacing: 0.02em;
        color: inherit;
        padding-top: 25px;
        padding-bottom: 25px;
        transition: color, $MainTransition;
    }

    &__link::after {
        position: absolute;
        content: '';
        background-color: $ActionColor;
        bottom: -3px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        z-index: -1;

        @include mq(tablet){
            bottom: -12px;
        }
    }
    
    &__link:hover,
    &__link:focus{
        color: $ActionColor;
        z-index: 1;
    }
    
    &__item:not(:last-child){
        margin-right: 50px;
    }
    
    &__link.link_uncommon {
        color: $ActionColor;
        z-index: 1;
    }
}

.link_uncommon {
    color: $ActionColor;
}

.contact-links{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    @include mq(tablet){
        flex-direction: column;
    }

    @include mq(desktop){
        flex-direction: row;
        align-items: baseline;
    }

    &__item:not(:last-child){
        margin-right: 50px;
        

        @include mq(tablet){
            margin-right: 0;
            margin-bottom: 10px;
        }

        @include mq(desktop){
            margin-bottom: 0;
            margin-right: 30px;
        }
    }

    &__link {
        @extend %FlexCenter;
        position: relative;
        color: $SubtextualColor;
        font-weight: 500;
        font-size: 14px;
        line-height: 0.8;
        letter-spacing: 0.02em;
        padding-top: 25px;
        padding-bottom: 25px;
        transition: color, $MainTransition;

        @include mq(tablet) {
            padding: 0;
            font-size: 12px;
            line-height: 0.8;
        }
    }

    &__link:focus, &__link:hover{
        color: $ActionColor;
        z-index: 1;
    }

    &__icon{
        fill: currentColor;
        margin-right: 8px;
    }


    @include mq(mobile-only) {
        display: none;
    }

}