.studio-naming {
    @extend %link;
    font-family: $SecondFont;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: inherit;
    margin-right: 93px;

    &__part {
            color: $AccentColor;
        }
    &__second_part {
        color: $BackColor;
    }
}
