.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;

    @include mq(tablet-only){
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.sort-buttons {
    text-align: center;
    padding: 0;
    margin-bottom: 50px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;

    @include mq(tablet){
        justify-content: center;
        flex-wrap: nowrap;
    }

    &__button {
        background-color: #F5F4FA;
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        font-family: inherit;
        line-height: 1.62;
        letter-spacing: 0.03em;
        cursor: pointer;
        padding: 6px 21px;
        border: 0;
        transition: background-color $MainTransition, color $MainTransition, box-shadow $MainTransition;
    }

    &__button:hover,
    &__button:focus {
        background-color: $ActionColor;
        color: $BackColor;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    &__item:not(:last-child) {
        margin-right: 8px;
    }

    &__item:nth-child(-n+3){
        margin-bottom: 15px;

        @include mq(desktop){
            margin-bottom: 0;
        }
    }
}

.studio_projects{

    flex-wrap: wrap;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding: 0;
    justify-content: center;

    &-item {
        overflow: visible;
        background: $BackColor;
        margin-bottom: 30px;
        transition: box-shadow $MainTransition;
        position: relative;
        width: 100%;

        @include mq(tablet-only){
            width: calc(100% / 2 - 30px);
        }

        @include mq(desktop){
            margin-right: 30px;
            width: calc(100% / 3 - 60px);
        }
    }

    &-link:hover,
    &-link:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        overflow: visible;
    }

    &-link:hover &-item,
    &-link:focus &-item{
        overflow: visible;
    }

    &-item:nth-child(3n+3) {
        margin-right: 0;
    }

    &-item:nth-child(2n+1){
        @include mq(tablet-only){
            margin-right: 30px;
        }
    }

    &-item:nth-child(n+7){
        @include mq(desktop){
            margin-bottom: 0;
        }
    }

    &-item:last-child{
        @include mq(not-desktop){
            margin-bottom: 0;
            margin-right: 0;
        }
    }

    &-link {
        overflow: hidden;
        display: block;
        position: relative;
        text-decoration: none;
        color: inherit;
        transition: box-shadow $MainTransition;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &-link:hover &-annotation,
    &-link:focus &-annotation {
        transform: scaleY(100%);
        top: 0%;
        visibility: visible;
    }

    &-photo {
        overflow: hidden;
        position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
        height: auto;
    }

    &-data {
        position: relative;
        z-index: 3;
        padding: 20px 24px;
        background-color: $BackColor;
        border: 1px solid #EEEEEE;
        border-top: 0px;
        flex-grow: 1;
    }

    &-naming {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        margin-bottom: 4px;
        letter-spacing: 0.06em;

        @include mq(mobile){
            width: 402px;
        }

        @include mq(tablet){
            width: 306px;
        }

        @include mq(desktop){
            width: 322px;
        }
    }

    &-direction {
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        color: #757575;
    }

    &__adaptive{
        flex-grow: 1;
    }

    &-annotation {
        position: absolute;
        top: -20%;
        left: 0;
        width: 100%;
        height: 294px;
        background-color: rgba(33, 150, 243, 0.9);
        transform: scaleY(10%);
        transition: transform $MainTransition;
        visibility: hidden;
    }

    &-annotation p {
        padding: 63px 24px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.55;
        letter-spacing: 0.03em;
        color: $BackColor;
    }
}

